In [15]:
import numpy as np
import polars as pl
import matplotlib.pylab as plt
import seaborn as sns
import pandas as pd

In [2]:
dataset_path = '/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed/dataset_1.csv'

In [14]:
dataset = pd.read_csv(dataset_path)

NameError: name 'pd' is not defined

In [19]:
dataset.head()

shape: (5, 21)
┌─────┬──────────┬────────────┬────────────┬─────┬────────────┬──────────┬────────────┬────────────┐
│     ┆ Unnamed: ┆ 0          ┆ 1          ┆ ... ┆ 15         ┆ 16       ┆ 17         ┆ 18         │
│ --- ┆ 0        ┆ ---        ┆ ---        ┆     ┆ ---        ┆ ---      ┆ ---        ┆ ---        │
│ i64 ┆ ---      ┆ str        ┆ str        ┆     ┆ str        ┆ str      ┆ str        ┆ str        │
│     ┆ str      ┆            ┆            ┆     ┆            ┆          ┆            ┆            │
╞═════╪══════════╪════════════╪════════════╪═════╪════════════╪══════════╪════════════╪════════════╡
│ 0   ┆ ID       ┆ Delivery_p ┆ Delivery_p ┆ ... ┆ multiple_d ┆ Festival ┆ City       ┆ Time_taken │
│     ┆          ┆ erson_ID   ┆ erson_Age  ┆     ┆ eliveries  ┆          ┆            ┆ (min)      │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1   ┆ 0x4607_x ┆ INDORES13D ┆ 37.000000  ┆ ... ┆ 0.000000   ┆ No       ┆ Urban      ┆ 24.000000  │
│     ┆          ┆ EL02       ┆            ┆     ┆            ┆          ┆            ┆            │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ 0xb379_x ┆ BANGRES18D ┆ 34.000000  ┆ ... ┆ 1.000000   ┆ No       ┆ Metropolit ┆ 33.000000  │
│     ┆          ┆ EL02       ┆            ┆     ┆            ┆          ┆ ian        ┆            │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 4   ┆ 0x20f7_x ┆ BANGRES18D ┆ 37.000000  ┆ ... ┆ 2.000000   ┆ No       ┆ Metropolit ┆ 42.000000  │
│     ┆          ┆ EL01       ┆            ┆     ┆            ┆          ┆ ian        ┆            │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 5   ┆ 0x7804_x ┆ HYDRES13DE ┆ 28.000000  ┆ ... ┆ 1.000000   ┆ No       ┆ Urban      ┆ 19.000000  │
│     ┆          ┆ L02        ┆            ┆     ┆            ┆          ┆            ┆            │
└─────┴──────────┴────────────┴────────────┴─────┴────────────┴──────────┴────────────┴────────────┘

In [5]:
sample_submission_path = '/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/raw/dataset/sample_submission.csv'

In [20]:
sample_submission = pd.read_csv(sample_submission_path)

In [21]:
sample_submission

       ID  Time_taken (min)
0  0x7faf              25.0
1  0x4607              24.0
2  0xb379              33.0
3  0x7804              19.0
4  0x20f7              42.0

In [22]:
dataset.info()

AttributeError: 'DataFrame' object has no attribute 'info'