In [1]:
import numpy as np
import polars as pl
import matplotlib.pylab as plt
import seaborn as sns
import pandas as pd
import os 
plt.style.use('ggplot')
import re
import csv

In [2]:
train_path = '/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/raw/dataset/train/'
listdir = os.listdir(train_path)
files = {}
for i in range(len(listdir)):
    files[i] = os.path.join(train_path + f'{i}'+'.txt')

In [3]:
sample_f = open('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/raw/dataset/train/45575.txt' , 'r').read()

In [4]:

formatted_f = re.sub(' +',',',sample_f)

In [149]:
print(formatted_f)

ID,0x6e9
Delivery_person_ID,RANCHIRES11DEL02
Delivery_person_Age,NaN
Delivery_person_Ratings,NaN
Restaurant_latitude,23.359194
Restaurant_longitude,85.325447
Delivery_location_latitude,23.379194
Delivery_location_longitude,85.345447
Order_Date,21-03-2022
Time_Orderd,NaN
Time_Order_picked,9:05
Weather,conditions,NaN
Road_traffic_density,NaN
Vehicle_condition,0
Type_of_order,Drinks
Type_of_vehicle,motorcycle
multiple_deliveries,1.000000
Festival,No
City,Metropolitian
Time_taken,(min),25.000000
Name:,45575,,dtype:,object

In [151]:
sample = open('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/notebooks/sample.txt','w')

In [152]:
sample.write(formatted_f)
sample.close()

In [163]:
df = pl.read_csv('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/notebooks/sample.txt',sep=',')

In [164]:
df = df.to_pandas()

In [165]:
df.to_csv('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed/sample.csv')

In [170]:
pd.read_csv('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed/sample.csv',header= None)

       0                            1                 2
0    NaN                           ID             0x6e9
1    0.0           Delivery_person_ID  RANCHIRES11DEL02
2    1.0          Delivery_person_Age               NaN
3    2.0      Delivery_person_Ratings               NaN
4    3.0          Restaurant_latitude         23.359194
5    4.0         Restaurant_longitude         85.325447
6    5.0   Delivery_location_latitude         23.379194
7    6.0  Delivery_location_longitude         85.345447
8    7.0                   Order_Date        21-03-2022
9    8.0                  Time_Orderd               NaN
10   9.0            Time_Order_picked              9:05
11  10.0                      Weather        conditions
12  11.0         Road_traffic_density               NaN
13  12.0            Vehicle_condition                 0
14  13.0                Type_of_order            Drinks
15  14.0              Type_of_vehicle        motorcycle
16  15.0          multiple_deliveries          1.000000
17  16.0                     Festival                No
18  17.0                         City     Metropolitian
19  18.0                   Time_taken             (min)
20  19.0                        Name:             45575

In [20]:
def txt_to_csv():
    count  = 0
    for v in files.values():
        if count > 45592:
            break
        
        temp = open(v,'r').read()
        temp_formatted = re.sub(' +',',',temp)
        temp_formatted = temp_formatted.replace("Weather,","Weather")
       
        temp_formatted = temp_formatted.replace("Time_taken,","Time_taken")
        
        
        processed_i = open('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/interim/'+ str(count)+ '.txt' ,'w')
        processed_i.write(temp_formatted)
        processed_i.close()
        df = pl.read_csv('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/interim/' + str(count) + '.txt').to_pandas().to_csv('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed'+ str(count)+'.csv')
        count = count+1 
        
        
txt_to_csv()

NoDataError: empty csv

In [56]:

processed_dir = os.listdir('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed/')

In [62]:
csv_1 =pd.read_csv('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed0.csv')
csv_2 = pd.read_csv('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed1.csv')

In [67]:
csv_1.drop('Unnamed: 0',axis=1)

                             ID          0x4607
0            Delivery_person_ID  INDORES13DEL02
1           Delivery_person_Age       37.000000
2       Delivery_person_Ratings        4.900000
3           Restaurant_latitude       22.745049
4          Restaurant_longitude       75.892471
5    Delivery_location_latitude       22.765049
6   Delivery_location_longitude       75.912471
7                    Order_Date      19-03-2022
8                   Time_Orderd           11:30
9             Time_Order_picked           11:45
10            Weatherconditions           Sunny
11         Road_traffic_density            High
12            Vehicle_condition               2
13                Type_of_order           Snack
14              Type_of_vehicle      motorcycle
15          multiple_deliveries        0.000000
16                     Festival              No
17                         City           Urban
18              Time_taken(min)       24.000000
19                        Name:               0

In [65]:
csv_1.merge(csv_2, on= 'ID').transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Unnamed: 0_x,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min),Name:
0x4607,INDORES13DEL02,37.000000,4.900000,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30,11:45,Sunny,High,2,Snack,motorcycle,0.000000,No,Urban,24.000000,0
Unnamed: 0_y,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0xb379,BANGRES18DEL02,34.000000,4.500000,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45,19:50,Stormy,Jam,2,Snack,scooter,1.000000,No,Metropolitian,33.000000,1

In [93]:

for num in range(45575):
    df_num = pd.read_csv('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed/'+ str(num) + '.csv')
    df_num.drop(['Unnamed: 0'], axis = 1)
    df_num = df_num
csv_1 = csv_1.merge(df_num , on = 'ID')

In [96]:
csv_1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0x4607_x,INDORES13DEL02,37.000000,4.900000,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30,11:45,Sunny,High,2,Snack,motorcycle,0.000000,No,Urban,24.000000
0x4607_y,INDORES13DEL02,37.000000,4.900000,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30,11:45,Sunny,High,2,Snack,motorcycle,0.000000,No,Urban,24.000000
0xb379_x,BANGRES18DEL02,34.000000,4.500000,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45,19:50,Stormy,Jam,2,Snack,scooter,1.000000,No,Metropolitian,33.000000
0x20f7_x,BANGRES18DEL01,37.000000,4.400000,12.913041,77.683237,12.953041,77.723237,19-03-2022,13:50,13:55,Windy,High,0,Buffet,motorcycle,2.000000,No,Metropolitian,42.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0x38c6_y,JAPRES11DEL01,24.000000,4.800000,26.902940,75.793007,26.942940,75.833007,15-03-2022,13:20,13:25,Windy,High,2,Meal,electric_scooter,0.000000,No,Urban,12.000000
0x38c6_x,JAPRES11DEL01,24.000000,4.800000,26.902940,75.793007,26.942940,75.833007,15-03-2022,13:20,13:25,Windy,High,2,Meal,electric_scooter,0.000000,No,Urban,12.000000
0x38c6_y,JAPRES11DEL01,24.000000,4.800000,26.902940,75.793007,26.942940,75.833007,15-03-2022,13:20,13:25,Windy,High,2,Meal,electric_scooter,0.000000,No,Urban,12.000000
Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0xdf0d,DEHRES18DEL03,26.00,4.90,0.00,0.00,0.03,0.03,15-02-2022,20:60,21:05,Windy,Jam,0,Meal,motorcycle,0.00,No,Metropolitian,36.00

In [97]:
csv_1.transpose().to_csv('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed/dataset.csv')

In [100]:
df = pd.read_csv('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed/dataset.csv')

In [107]:
df.tail()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
2442,0x38c6_y,JAPRES11DEL01,24.000000,4.800000,26.902940,75.793007,26.942940,75.833007,15-03-2022,13:20,13:25,Windy,High,2,Meal,electric_scooter,0.000000,No,Urban,12.000000
2443,0x38c6_x,JAPRES11DEL01,24.000000,4.800000,26.902940,75.793007,26.942940,75.833007,15-03-2022,13:20,13:25,Windy,High,2,Meal,electric_scooter,0.000000,No,Urban,12.000000
2444,0x38c6_y,JAPRES11DEL01,24.000000,4.800000,26.902940,75.793007,26.942940,75.833007,15-03-2022,13:20,13:25,Windy,High,2,Meal,electric_scooter,0.000000,No,Urban,12.000000
2445,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
2446,0xdf0d,DEHRES18DEL03,26.00,4.90,0.00,0.00,0.03,0.03,15-02-2022,20:60,21:05,Windy,Jam,0,Meal,motorcycle,0.00,No,Metropolitian,36.00

In [110]:
df = df.drop(labels= 2445,axis=0)

In [112]:
df.to_csv('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed/dataset_1.csv')

In [115]:
dataset = pd.read_csv('/Users/vicariousvision/Analytics Stuff/amazon_ml_challenge/data/processed/dataset_1.csv')